html, body{
    box-sizing: border-box ;
    background-color: black;
}
img{
    background-color: gray;
    width: 100%;
    height: 100%;
}
main{
    background-color: white;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.icon1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.icon1 > div > i{
    font-size: 2.5rem;
    padding: 5px;
}
.icon1 > div > span{
    font-size: 1.5rem;
    margin: 0px 10px;
}
.icon2{
    font-size: 2rem;
}
.icon6{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 2rem;
}
.footer-icons > .icon6{
    height: 0;
    justify-content: right;
    align-items: flex-end;
    padding: 5px;
}
.footer-icons > div > i{
    font-size: 2rem;
    padding: 2px;
}